h1 {
	text-align : center;
}
h4 {
	text-align : center;
}
            
body {
	margin: 3%;
	background-color:rgb(31, 16, 18);
	color: rgb(225, 81, 110);
   
}
a {
	color: rgb(180, 86, 133);
}